{% with page='Edit User' %}
{% include "admin_buttons.html" %}
{% endwith %}

<script>

    function SelectElement(valueToSelect)
    {
        var element = document.getElementById('selectbasic');
        element.value = valueToSelect;
    }

    function clearValues()
    {
        document.getElementById('display').value= "";
        document.getElementById('username').value= "";
        document.getElementById('password').value= "";
        document.getElementById('email').value= "";

        SelectElement("{{ user[8] }}");

    }

    function banUser(uuid, name)
    {

        if (confirm("Are You Sure You Want To Ban " + name + "?")) {
            //UnBan!

           window.location.href = '/admin/users/ban/' + uuid + '/-1'; //relative to domain

        } else {
            // Do nothing!
        }

    }

    function unBanUser(uuid, name)
    {

        if (confirm("Are You Sure You Want To UnBan " + name + "?")) {
            //UnBan!

            window.location.href = '/admin/users/pardon/' + uuid; //relative to domain

        } else {
            // Do nothing!
        }

    }

    function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }

</script>

<input id="button" type="button"  {% if user[8]==-1 %} value="Unban {{ user[1] }}" onclick="unBanUser({{ user[6] }}, '{{ user[1] }}');" {% elif user[8] == 4 %} disabled value="Can Not Ban Owner" {% else %} value="Ban {{ user[1] }}" onclick="banUser({{ user[6] }}, '{{ user[1] }}');" {% endif %} />

<br>&nbsp

<form class="form-horizontal" action="/admin/users/{{ user[6] }}/go" method="post" enctype = "multipart/form-data">
    <fieldset>

        <!-- Form Name -->
        <legend>Edit {{ user[1] }}</legend>

        <br>

        <input id="button" type="button" value="Clear All Values" onclick="clearValues();" {% if user[8]==-1 %} disabled {% elif user[8] == 4 %} disabled {% endif %}/>

        <br>&nbsp

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="display">Display Name</label>
            <div class="col-md-4">
                <input id="display" name="display" type="text" placeholder="{{ user[0] }}" class="form-control input-md" {% if user[8]==-1 %} disabled {% elif user[8] == 4 %} disabled {% endif %}>
            </div>
        </div>

        <br>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Username</label>
            <div class="col-md-4">
                <input id="username" name="usern" type="text" placeholder="{{ user[1] }}" class="form-control input-md" {% if user[8]==-1 %} disabled {% elif user[8] == 4 %} disabled {% endif %}>
            </div>
        </div>

        <br>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-4">
                <input id="password" name="passw" type="password" placeholder="" class="form-control input-md" {% if user[8]==-1 %} disabled {% elif user[8] == 4 %} disabled {% endif %}>
            </div>
        </div>

        <br>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">E-Mail</label>
            <div class="col-md-4">
                <input id="email" name="email" type="text" placeholder="{{ user[5] }}" class="form-control input-md" {% if user[8]==-1 %} disabled {% elif user[8] == 4 %} disabled {% endif %}>
            </div>
        </div>

        <br>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="profile">Profile Picture</label>
            <div class="col-md-4">
                <input id="profile" name="profile" class="input-file" type="file" {% if user[8]==-1 %} disabled {% elif user[8] == 4 %} disabled {% endif %}>
                <a href="/static/icons/{{ user[6] }}{{ user[7] }}" {% if user[8]==-1 %} disabled {% endif %}>Current Image</a>
            </div>
        </div>

        <br>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Change Rank</label>
            <div class="col-md-4">
                <select id="selectbasic" name="selectbasic" class="form-control" {% if user[8]==-1 %} disabled {% elif user[8] == 4 %} disabled {% endif %}>
                    <option value="0" {% if user[8]==0 %} selected="selected"{% endif %}>Guest</option>
                    <option value="1" {% if user[8]==1 %} selected="selected"{% endif %}>Jr. Mod</option>
                    <option value="2" {% if user[8]==2 %} selected="selected"{% endif %}>Moderator</option>
                    <option value="3" {% if user[8]==3 %} selected="selected"{% endif %}>Admin</option>
                    <option value="4" {% if user[8]==4 %} selected="selected"{% endif %}>Owner</option>
                </select>
            </div>
        </div>

        <br>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="go"></label>
            <div class="col-md-4">
                <button id="go" name="go" class="btn btn-primary" {% if user[8]==-1 %} disabled {% elif user[8] == 4 %} disabled {% endif %}>Update User</button>
            </div>
        </div>

        <br>

    </fieldset>
</form>
