{% with page='Message', name=name, uuid=uuid, id=4, ext=ext, unseen=unseen, notify=notify %}
{% include "buttons.html" %}
{% endwith %}

<style>
    .alignleft {
    	float: left;
    	/*padding-left: 80px;*/
    }
    .alignright {
    	float: right;
    	/*padding-right: 80px;*/

    }

    .alignmiddle {
        float: right;
    }

    div.large_button { position: relative; }

    .hyperspan {
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
}
</style>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/theme.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/comment.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/form.css') }}">

</center>
    <div id="wide">

        <div class="other" style="height: calc(100% - 5px); overflow-y: scroll;">
            <br>
            <center><a href="/message"><button type="button" class="button large">Refresh <span class=reload>&#x21bb;</span></button></a></center>
            <br>
            <hr>

            {% for follower in mutual %}

                <a href="/message/{{ follower[0][0][6] }}">
                                {% if follower[0][0][6]|int in user_follower %}
                                <div style="align: left;">
                                {% with width=15 %}
                                    {% include "popular_image.html" %}
                                {% endwith %}
                                </div>
                                {% endif %}
                <div class="image-cropper">
                        <img style="display: block; margin: auto;" src="/static/icons/{{ follower[0][0][6] }}{{ follower[0][0][7]|string }}" onError="this.onerror=null;this.src='/static/images/no_icon.png';">
                </div>
                                            {% with rank = follower[0][0][8] %}
                            {% include "get_prefix.html" %}
                            {% endwith %}
                            {{ follower[0][0][0] }} ({{ follower[1] }})</a><br>&nbsp<br>
                <hr>
            {% endfor %}

        </div>
    </div>
</center>

{% include 'footer.html' %}