{% with page='Profile', name=name, uuid=uuid, id=1, img_ext=img_ext, ext=ext, unseen=unseen, notify=notify %}
{% include "buttons.html" %}
{% endwith %}

<style>

    div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    }

    div.img:hover {
        border: 1px solid #777;
    }

    div.img img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

        .alignleft {
    	float: left;
    	/*padding-left: 80px;*/
    }
    .alignright {
    	float: right;
    	/*padding-right: 80px;*/

    }

    .alignmiddle {
        float: right;
    }

    div.large_button { position: relative; }

    .hyperspan {
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
}
</style>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/theme.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/comment.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/form.css') }}">

</center>
    <div id="wide">

        {% with page_uuid=page_uuid, page_name=page_name, username=username, uuid=uuid, version=1, following=following, follow_number=follow_number, follow_back=follow_back %}
        {% include "profile_head.html" %}
        {% endwith %}

        <div class="other" style="height: calc(100% - 24% - 60px); overflow-y: scroll;">


            {% for post in posts %}

                {% if post[5] != 0 %}
                    <div class="img">
                        <a target="_blank" href="/static/files/{{ post[4] }}{{ post[5] }}">
                            <img src="/static/files/{{ post[4] }}{{ post[5] }}" onError="this.onerror=null;this.src='/static/images/video.png';" width="300" height="200">
                        </a>
                        <div class="desc">{{ post[1] }}</div>
                    </div>
                {% endif %}

            {% endfor %}



        </div>
    </div>
</center>

{% include 'footer.html' %}